*,*:before, *:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: boarder-box;
}
html,body{
	height: 100%;
}
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.parallax{
	position: relative;
	height: 100%;


}
.parallax_montain{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.parallax_montain_1{
	background: url('../img/m_1.png') 0 0 / cover no-repeat;
}
.parallax_montain_2{
	z-index: 1;
		background: url('../img/m_2.png') bottom right / 45%  no-repeat;
}
.parallax_montain_3{
	z-index: 1;
		background: url('../img/m_3.png') left bottom / 100%  no-repeat;
}

.parallax_fog{
	background: url('../img/fog_1.png') bottom / 100% no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.content{
	position: relative;
	margin-bottom: 250px;
}
.content_body{
	max-width: 1170px;
	margin: 0px auto;
}
.content_header{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0px 20px;
}
.content_title{
	font-size: 200px;
}
.content_subtitle{
	font-size: 120px;
}
.content_article{
	text-align: center;
	padding: 20px;
	font-size: 50px;
	line-height: 50px;

}